body {
    background: #f4eedf;
    font-family: Arial;
}

.header {
    height: 60px;
    padding: 10px 30px;
    background: #faf5e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person-node {
    width: 150px;
    padding: 10px;
    background: #fffdf5;
    border: 2px solid #d3c6aa;
    border-radius: 12px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translateX(-50%);
}

.node-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 5px;
}

.node-add-btn {
    cursor: pointer;
    font-size: 24px;
}

.node-photo img {
    width: 70px;
    height: 70px;
}

.menu {
    position: absolute;
    background: white;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 10px;
}

.form-modal {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    transform: translate(-50%, -50%);
}

.backdrop {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#0005;
}